$primary-blue: rgb(51, 82, 150);
$primary-red: rgb(239, 62, 66);
$head-text: 'AmsiPro-UltraItalic';
$light-gray:rgb(188, 188, 189);
$aqua: rgb(147,212,218);

@font-face {
    font-family: 'AmsiPro-UltraItalic';
    src: url('../fonts/AmsiPro-UltraItalic.ttf') format('woff2'), /* Modern Browsers */
         url('../fonts/AmsiPro-UltraItalic.ttf') format('woff');   /* Older Browsers */
    /* Add additional font formats as needed */
  }

  @font-face {
    font-family: 'AmsiPro-Regular';
    src: url('../fonts/AmsiPro-Regular.ttf') format('woff2'), /* Modern Browsers */
         url('../fonts/AmsiPro-Regular.ttf') format('woff');   /* Older Browsers */
    /* Add additional font formats as needed */
  }


body{
    font-family: 'AmsiPro-Regular';
    background-color: black;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.btn {
    transition: transform 0.5s;
    
    &:hover {
        animation: pulsate 1s infinite;
    }
}
.navbar{
    background: linear-gradient(180deg,
        #000 0, 
        rgba(0, 0, 0, .738) 19%, 
        rgba(0, 0, 0, .541) 34%,
        rgba(0, 0, 0, .382) 47%,
        rgba(0, 0, 0, .278) 56.5%,
        rgba(0, 0, 0, .194) 65%,
        rgba(0, 0, 0, .126) 73%,
        rgba(0, 0, 0, .075) 80.2%,
        rgba(0, 0, 0, .042) 86.1%,
        rgba(0, 0, 0, .021) 91%,
        rgba(0, 0, 0, .008) 95.2%,
        rgba(0, 0, 0, .002) 98.2%, transparent);
    transition: top 0.5s; /* Add smooth transition */
    padding: 10px;
    display: flex;
    align-items: center;
    .navbar-toggler{
        border-color: white;
        border-width: 3px;
    }
    .navbar-brand {
        max-width: 30%;
        margin-right: 0px;
        img{
            width: 100%;
        }
    }
    .nav-item{
        text-align: center;
    }
    li{
        margin: 0 15px;
        a{
            font-family: $head-text;
            text-transform: uppercase;
            color: white;
            font-size: 1.1rem;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.1);
                color: $primary-red;
            }
        } 
    }
    .collapse.navbar-collapse {
            
        justify-content: center;
        
    }
    .call__button {
        margin-left: auto;
        background-color: $primary-red;
        
    }
}

.navbar.hidden {
    top: -100px; /* Move navbar off-screen */
}

.call__button{
    background-color: $primary-red;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
    i{
        margin-right: 10px;
    }
    &:hover{
        background-color: $aqua;
    }
}

@media (min-width: 992px) {
    .navbar {
        .collapse.navbar-collapse {
            flex-grow: 1;
            order: 2; /* Move the menu below */
        }
        .call__button__container {
            order: 3; /* Move the call button to the right */
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust the opacity as needed */
    z-index: 1;
    overflow: hidden;
}


.banner {
    padding-top: 80px;
    height: 85vh;
    min-height: 500px;
    background-color: #ffffff; // Fallback color
    overflow: hidden; // Ensure shapes don't overflow
    position: relative;
    
    .parallax__container{
        height: 150%; /* Adjusted height */
        position: absolute;
        z-index: 0;
        right: 0;
        left: 0;
        top: 0;
        background-image: url('../assets/doctoroffice.jpg');
        background-color: transparent;
        background-size: cover;
        background-attachment: fixed; 
        background-repeat: no-repeat;
        
    }
   
    
    .texto__banner{ 
        color: $primary-blue;
        background-color: $primary-red;
        border-radius: 45%;
        padding: 30px;
        
        position: relative;
        z-index: 2;
        width: 25em;
        height: 25em;  
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 22px 0 rgba(0, 0, 0, 0.4);
        .animate__fadeInLeft{
            animation-delay: 0.1s;
        }
        .animate__fadeInRight{
            animation-delay: 0.4s;
        }
        .animate__fadeInUp{
            animation-delay: 0.7s;
        }
        h1{
            font-family: $head-text;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
            font-size: 3rem;
        }
        .parrafo__banner{
            font-size: 1.3rem;
            max-width: 80%;
            color: white;
            font-weight: bold;
            margin: 0;
        }
        .contactus__button{
            background-color: $primary-blue;
            border-radius: 20px;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1rem;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
            i{
                margin-right: 10px;
            }
            &:hover{
                background-color: $aqua;
            }
        }
    }
}

@media (max-width: 992px) {
    .banner{
        .texto__banner {
            max-width: 95%;
            h1 {
                font-size: 2rem;
                
            }
            .parrafo__banner {
                font-size: 1.5rem;
                margin-bottom: 50px;
                max-width: 100%;
            }
        }
        
    
        
    }
        
}

.background__design{
    height: 100px;
    background-image: url(../assets/diseno.svg);
    position: relative;
    z-index: 2;
    
}

.location__container {
    display: flex;
    flex-direction: row;
}

.location__info {
    width: 40%;
    background-color: $primary-blue;
    color: white;
    text-shadow: 2px 2px 4px    rgba(0, 0, 0, 0.3);
    
    .location__content{
        padding: 20px 50px;
        margin-top: 20px;
        h2 {
            font-size: 1.5em;
            font-family: $head-text;
            margin-bottom: 30px;
            color: white;

        }
        p {
            margin-bottom: 25px;
            font-size: 1.1rem;
            a{
                font-family: $head-text;
                color: white;
               
            }
        }
    }
    
}

.whatsapp__button{
    background-color: $primary-red;
    border-radius: 30px;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
    font-family: $head-text;
    
    font-size: 1.2rem;
    &:hover{
        background-color: $aqua;
    }
    .whatsapp__logo{
        margin-right: 8px;
        width: 30px;
    }
}

.location__map {
    width: 60%;
    position: relative;
    .map__frame{
        background-image: url(../assets/jungle.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5% 15%;
        
        iframe{
            border: 2px black solid;
            border-radius: 5px;
            position: relative;
            z-index: 2;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.9);
        }
    }    
}


@media (max-width: 992px) {

    .location__container {
        flex-direction: column;
        .location__map
        {
            width: 100%;
            height: 400px;
            order: 1;
            .map__frame{
                padding: 5% 5%;
            }
        }
        .location__info {
            width: 100%;
            text-align: center;
            order: 2;

            
        }
    }
    
}

.services__container {
    overflow: hidden;
    position: relative;
    padding: 50px 0;
    text-align: center;
    background: rgb(51,82,150);
    background: linear-gradient(180deg,black 0%, black 53%, $primary-blue 100%);
    .services__title {
        font-size: 2.3rem;
        font-family: $head-text;
        color: white;
        text-transform: uppercase;
        margin-bottom: 50px;
        text-shadow: 2px 2px 4px    rgba(0, 0, 0, 0.3);
        position: relative;
        z-index: 1;
    }
    .controls {
        
        button {
            text-align: center;
            align-items: center;
            position: absolute;
            top: 50%;
            z-index: 2;
            background-color: rgba(51, 82, 150, 0.847);
            padding: 4px 16px 6px 16px;
            border: 0px ;
            border-radius: 50%;
            color: white;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
            transition: opacity 0.3s ease;
            &:hover {
                opacity: 0.7;
            }
            &:focus {
                outline: none;
            }
        }
        .prev-btn {
            margin-right: 10px;
            left: 10px;
        }
        .next-btn {
            margin-right: 10px;
            right: 10px;
        }
    }
    .card-track-marquee {
        position: relative; /* Position relative for absolute positioning */
        width: 100%; /* Ensure full width */
        overflow: hidden;
         
        .card-track {
            width: calc(450px*8);
            display: flex; /* Use flexbox for layout */
            transition: transform 0.8s ease;  
            
        }
        .card {
            width: 450px;
            
            margin: 40px 20px;
            flex-shrink: 0;/* Occupy full width of the column */
            padding: 20px 30px;
            border: 0;
            background-color: rgba(181, 177, 177, 0.881);
            border-radius: 5px;
            color: white;
            transition: transform 0.3s ease, box-shadow 0.3s ease; /* Combine transitions */
            box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.75);
            
            &:hover {
                
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
            }
            .card__image{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover; /* Maintain aspect ratio and cover container */
                object-position: center; /* Center the image within its container */
                margin-bottom: 20px; /* Add margin to separate image from text */
                box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.35);
                -webkit-box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.35);
                -moz-box-shadow: -1px 1px 12px 5px rgba(0, 0, 0, 0.35);
            }
            
            .card__title {
                font-size: 1.2rem;
                margin-bottom: 5px;
                font-family: $head-text;
                text-transform: uppercase;
                color: $primary-blue;
                
            }
            
            .card__text {
                font-size: 1.1rem;
                padding: 20px;
                font-weight: 500;
                
            }
        }
    }
}

@media (max-width: 992px) {
    .services__container{
        .card-track-marquee{
            .card{
                width: 300px;
                margin: 20px 10px;
            }
        }
    }
    
}



.contact__container {
    background-color: $primary-blue; /* Light gray background color */
    background: linear-gradient(to bottom, 
    $primary-blue 0%,       /* Start with white */
    $primary-blue 57%,
     #4e87b7     /* Ends with blue */
    );
    padding: 50px 0;
    text-align: center;
    border: none;
}

.contact__tittle__container{
    color: white;
    font-family: $head-text;
    
    text-transform: uppercase;
    margin-bottom: 50px;
}



.contact__title {
    display: inline-block;
    text-shadow: 2px 2px 4px    rgba(0, 0, 0, 0.3);
    font-size: 2.3rem;
    margin: 0 20px; /* Adjust margin to match the divider width */
}

.contact__content {
    margin: 20px 50px;
    color: white;
    .col{
        padding: 20px 50px;
        .contact__icon {
            text-align: center;
            height: 60px;
            width: 60px;
            margin-bottom: 20px;
            background-color: $aqua;
            padding: 20px;
            border-radius: 50px;
            font-size: 24px;
            color: white;
        }
        h3 {
            font-size: 1.6rem;
            font-family: $head-text;
            margin-bottom: 20px;
            
        }
        p {
            font-size: 1rem;
            font-weight: 500;
        }
        a{
            text-decoration: none;
            font-family: $head-text;
            color: white;
        }
    }
    
}



.whatsapp__round {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    
    &:hover {
        transform: scale(1.1);
    }
    
    img {
        width: 80px; /* Adjust size as needed */
        height: auto;
        border-radius: 30%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
}

.footer__container {
    background-color: #4e87b7; /* Blue background color */
    background: linear-gradient(to bottom, 
    #4e87b7 0%,       /* Start with white */
    
    $primary-blue     /* Ends with blue */
    );
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer__logo {
    width: 250px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.footer__disclaimer {
    font-size: 1.1rem;
    
}

@media (max-width: 992px) {
    .contact__container{
        padding: 30px;
        .contact__content {
            margin: 10px 0px ;
            flex-direction: column;
            .col{
                margin-bottom: 40px;
                flex: 1;
                padding: 20px 0px;
                .contact__title{
                    font-size: 1.8rem;
                }
                h3{
                    font-size: 1.4rem;
                }
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
    .whatsapp__round {
        bottom: 20px;
        right: 40px;
        img {
            width: 70px; /* Adjust size as needed */
            
        }
    }
    .footer__container {
        
        padding: 15px;
        .footer__logo{
            width: 150px;
        }
        p{
        font-size: 0.8rem;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
    }
}